*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

body {
	font-size: 1.25rem;
}
main {
	display: grid;
	height: 100vh;
	place-items: center;
}

#login {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: fit-content;
	margin: 2rem auto;
}
#message-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 1rem;
}
#message-form textarea {
	width: 100%;
	max-width: 50vw;
	height: 5rem;
	font-size: 1.25rem;
	resize: none;
	border-radius: 1rem;
	padding: 0.25rem;
}
#message-form input[type="submit"] {
	width: fit-content;
}

#chat {
	display: grid;
	place-items: center;
	gap: 1rem;
	color: white;
}
#messages {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	min-width: 25rem;
	max-width: 90vw;
	max-height: 75vh;
	overflow-y: auto;
	border: 1px solid black;
	border-radius: 1rem;
}
.message {
	padding: 1rem;
	max-width: 75%;
	border-radius: 1rem;
}
.message.right {
	background-color: blue;
	margin-left: auto;
}
.message.left {
	background-color: #777;
}

.info {
	font-size: 1rem;
	color: grey;
	text-align: center;
}

.hidden {
	display: none !important;
}
