<aside>
	<div id="font-change">
		<button id="font-change-minus">font -</button>
		<button id="color-change">tło</button>
		<button id="font-change-plus">font +</button>
	</div>
	<br>
	<button id="save-settings">zapisz ustawienia</button>
	<button id="rename-file">zmień nazwę</button>
	<button id="save-file"><u>zapisz plik</u></button>
</aside>

<div id="content" class="file-editor">
	<div class="file-info">{{path}}</div>
	<div class="editor">
		<textarea class="lines" disabled>1</textarea>
		<textarea class="text" spellcheck="false" wrap="off" >{{content}}</textarea>
	</div>
</div>

<dialog id="rename-modal" class="modal">
	<form action="/rename" method="get">
		<label for="name">Nowa nazwa</label>
		<input type="text" name="newName" placeholder="nazwa pliku" required />
		<input type="hidden" id="to-rename" name="name">
		<input type="hidden" name="textEditor" value="true">

		<div>
			<input type="submit" value="OK" id="rename-submit" style="display: none;" />
			<input type="button" value="OK" onclick="document.getElementById('rename-submit').click();" />
			<input type="button" value="Cancel" id="rename-cancel">
		</div>
	</form>
</dialog>

<script>
	/**
	 * @type {HTMLTextAreaElement}
	 */
	const textarea = document.querySelector('.text');
	/**
	 * @type {HTMLTextAreaElement}
	 */
	const lines = document.querySelector('.lines');
	const fontChangeMinus = document.getElementById('font-change-minus');
	const fontChangePlus = document.getElementById('font-change-plus');
	const colorChange = document.getElementById('color-change');
	let settings;

	loadSettings();
	updateLines();

	fontChangeMinus.addEventListener('click', () => {
		const fontSize = window.getComputedStyle(textarea).fontSize;
		textarea.style.fontSize = parseInt(fontSize) - 1 + 'px';
		lines.style.fontSize = parseInt(fontSize) - 1 + 'px';
	});
	fontChangePlus.addEventListener('click', () => {
		const fontSize = window.getComputedStyle(textarea).fontSize;
		textarea.style.fontSize = parseInt(fontSize) + 1 + 'px';
		lines.style.fontSize = parseInt(fontSize) + 1 + 'px';
	});
	colorChange.onclick = () => {
		settings.textEditor.color = settings.textEditor.color === "black" ? "white" : "black";
		update();
	};
	textarea.oninput = () => {
		updateLines();
	};

	document.getElementById("save-settings").onclick = () => {
		fetch("/texteditor/settings", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				fontSize: window.getComputedStyle(textarea).fontSize,
				color: settings.textEditor.color
			})
		});
	}
	document.getElementById("save-file").onclick = () => {
		fetch("/texteditor/saveFile", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				path: "{{path}}",
				content: textarea.value
			})
		});
	}

	document.getElementById("rename-file").onclick = () => {
		document.getElementById("to-rename").value = "{{path}}";
		document.getElementById("rename-modal").showModal();
	}
	document.getElementById("rename-cancel").onclick = () => {
		document.getElementById("rename-modal").close();
	}

	function updateLines() {
		// add line numbers of textarea to lines
		const linesCount = textarea.value.split('\n').length;
		let linesContent = '';

		for (let i = 1; i <= linesCount; i++) {
			linesContent += i + '\n';
		}

		lines.value = linesContent;
		lines.style.width = Math.max(...lines.textContent.split('\n').map(line => line.length)) + 'ch';
		lines.scrollTo(0, textarea.scrollTop);
	}
	async function loadSettings() {
		const response = await fetch("/texteditor/settings");
		settings = await response.json();

		update();
	}
	function update() {
		textarea.style.fontSize = settings.textEditor.fontSize;
		textarea.style.color = settings.textEditor.color === "black" ? "black" : "white";
		textarea.style.backgroundColor = settings.textEditor.color === "black" ? "white" : "#222";

		lines.style.fontSize = settings.textEditor.fontSize;
		lines.style.color = settings.textEditor.color === "black" ? "black" : "turquoise";
		lines.style.backgroundColor = settings.textEditor.color === "black" ? "white" : "#222";
	}
</script>
